body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.menu {
    list-style: none;
    padding: 0;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: white;
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
}

@media (max-width: 768px) {
    .menu {
        display: none;
    }

    .menu-icon {
        display: flex;
    }

    .show-menu .menu {
        display: flex;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 55px;
        right: 0;
        width: 100%;
        text-align: center;
        z-index: 1;
    }
}